- set_meta_tags title: @trip.title

%section
  .header.text-center
    %h3= @trip.title
    %h5.text-muted= trip_duration(@trip)
  .body
  .footer
    - if can?(:edit, @trip)
      = link_to t("edit"), edit_trip_path(@trip), class: "btn btn-primary btn-sm"
    = link_to t("trip.trips"), trips_path, class: "btn btn-success btn-sm"
