- set_meta_tags title: @note.title

%section
  .header
    %h3.d-inline= @note.title
  .body
    .note= @note.html
  .footer
    - if can?(:edit, @note)
      = link_to t("edit"), edit_note_path(@note), class: "btn btn-primary btn-sm"
    = link_to t("note.notes"), notes_path, class: "btn btn-success btn-sm"
