- set_meta_tags title: t("pages.env.title")

%section
  .header
    %h3.d-inline= t("pages.env.title")
  .body
    %table{class: "table table-bordered table-sm"}
      %tbody
        - @sys_info.each do |key, value|
          %tr
            %th= key.to_s.humanize
            %td= value
